{{#if cartProducts}}

<div class="page-content-wrapper py-3">
  <div class="container-lg">
    <!-- Cart Wrapper-->
    <div class="cart-wrapper-area">
      <div class="cart-table card mb-3">
        <div class="table-responsive card-body">
          <table class="table mb-0 text-center" id="table">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            <tbody>
              {{#each cartProducts}}
              <tr id="{{this._id}}">
                <th scope="row"><img src="/images/product-images/{{this.product._id}}.png" alt=""></th>
                <td>
                  <h6 class="mb-1">{{#getTitleCase this.product.Name}}{{/getTitleCase}}</h6>
                  <span>₹{{this.product.Offer}}</span>
                </td>
                <td>
                  <div class="quantity row-3">
                    <button class="cart-item-count btn btn-secondary btn-sm  col-1"
                      onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                    <span class="col-1" id="{{this.product._id}}">{{this.quantity}}</span>
                    <button class="cart-item-count btn btn-secondary btn-sm col-1"
                      onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                  </div>
                </td>
                <td><a class="remove-product" href="#"
                    onclick="removeCartProduct('{{this._id}}','{{this.product._id}}','{{this.quantity}}')"><i
                      class="fa fa-close"></i></a></td>
              </tr>
              {{/each}}

            </tbody>
          </table>
        </div>
        <div class="container">
          <div class="row mb-4">
            <div class="col">
              <a class="btn btn-danger w-100 mb-0" href="/place-order" id="total">₹{{total}} &amp; Pay</a>
            </div>
            <div class="col">
              <a class="btn btn-dark w-100" href="/menu">Add More</a>
            </div>
          </div>
        </div>

        {{!-- <div class="card-body border-top">

          <!-- Checkout--><a class="btn btn-danger w-100 mb-0" href="/place-order" id="total">₹{{total}} &amp; Pay</a>
        </div> --}}
      </div>
    </div>
  </div>
</div>
</div>




{{else}}


<!-- Page Content Wrapper-->
<div class="page-content-wrapper py-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-9 col-md-8 col-lg-6">
        <div class="card">
          <div class="card-body px-5 text-center"><img class="mb-4" src="img/icons/cart.svg" width="200px" alt="">
            <h4> Your cart is empty!</h4>
            <p class="mb-4">Please buy somthing...</p><a class="btn btn-creative btn-danger" href="/home">Go to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{{/if}}
</section>

<script>
  function changeQuantity(cartId, productId, count) {
    let quantity = parseInt(document.getElementById(productId).innerHTML);
    count = parseInt(count);
    $.ajax({
      url: '/change-product-quantity',
      data: {
        cart: cartId,
        product: productId,
        count: count,
        quantity: quantity
      },
      method: 'post',
      success: (response) => {
        if (response.removeProduct) {
          Swal.fire({
            toast: true,
            icon: 'success',
            title: "Item have been removed",
            animation: true,
            showConfirmButton: false,
            position: 'top-right',
            customClass: 'my',
            timerProgressBar: true,
            showDenyButton: false,
            showCancelButton: false,
            timer: 3000,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          });
          $('#' + cartId).empty();
          $("#total").load(" #total");
          //  let cartCount = $("#cart-count").html();
          //  cartCount = parseInt(cartCount) + count;
          //  $("#cart-count").html(cartCount);
          //  if (cartCount > 1) {
          //    $("#table").load(" #table");
          //    $("#total").load(" #total");
          //  } else {
          //    location.reload()
          // }
        } else {
          document.getElementById(productId).innerHTML = quantity + count;
          let cartCount = $("#cart-count").html();
          cartCount = parseInt(cartCount) + count;
          $("#cart-count").html(cartCount);
          $("#total").load(" #total");
        }
      }
    })
  }

  function removeCartProduct(cartId, productId, quantity) {
    $.ajax({
      url: '/remove-cart-product',
      data: {
        cart: cartId,
        product: productId
      },
      method: 'post',
      success: (response) => {
        if (response.status) {
          Swal.fire({
            toast: true,
            icon: 'success',
            title: "Item have been removed",
            animation: true,
            showConfirmButton: false,
            position: 'top-right',
            customClass: 'my',
            timerProgressBar: true,
            showDenyButton: false,
            showCancelButton: false,
            timer: 3000,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          });
          $('#' + cartId).empty();
          $("#total").load(" #total");
          // let cartCount = $("#cart-count").html();
          // cartCount = parseInt(cartCount) - parseInt(quantity);
          // $("#cart-count").html(cartCount);
          // if (cartCount > 1) {
          //   $("#table").load(" #table");
          //   $("#total").load(" #total");
          // } else {
          //   location.reload()
          // }
        } else {
          alert("Remove Error")
        }
      }
    })
  }
</script>