{{#if cartProducts}}



<div class="page-content-wrapper pt-4">
  <div class="container-lg">
    <!-- Cart Wrapper-->
    <div class="cart-wrapper-area">
      <div class="cart-table card ">
        <div class="table-responsive card-body">
          <table class="table mb-0 text-center" id="table">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            <tbody>
              {{#each cartProducts}}
              <tr id="{{this._id}}">
                <th scope="row"><img src="/images/product-images/{{this.product._id}}.png" alt=""></th>
                <td>
                  <h6 class="mb-1">{{#getTitleCase this.product.Name}}{{/getTitleCase}}</h6>
                  <span>₹{{this.product.Offer}}</span>
                </td>
                <td>
                  <div class="quantity row-3">
                    <button class="cart-item-count btn btn-secondary btn-sm  col-1"
                      onclick="changeQuantity('{{this._id}}','{{this.product._id}}',-1)">-</button>
                    <span class="col-1" id="{{this.product._id}}">{{this.quantity}}</span>
                    <button class="cart-item-count btn btn-secondary btn-sm col-1"
                      onclick="changeQuantity('{{this._id}}','{{this.product._id}}',1)">+</button>
                  </div>
                </td>
                <td><a class="remove-product" href="#"
                    onclick="removeCartProduct('{{this._id}}','{{this.product._id}}','{{this.quantity}}')"><i
                      class="fa fa-close"></i></a></td>
              </tr>
              {{/each}}

            </tbody>
          </table>
        </div>
        {{!-- <div class="container">
          <hr>
          <div
            style="display: flex; justify-content: center; align-items: end; flex-direction: column; padding-right: 10px;">
            <br>
            <h6 id="gross-total">GROSS TOTAL: ₹{{total}}</h6>
            <br>
            <h6 id="cgst-total">CGST (2.5%): ₹{{#getTotalWithCGST total}}{{/getTotalWithCGST}}</h6>
            <br>
            <h6 id="sgst-total">SGST (2.5%): ₹{{#getTotalWithSGST total}}{{/getTotalWithSGST}}</h6>
            <br>
            <h6 id="discount-total">DISCOUNT ({{#getDiscountPercentage}}{{/getDiscountPercentage}}%):
              ₹{{#getTotalDiscount total}}{{/getTotalDiscount}}</h6>
            <br>
            <h6 id="grand-total">GRAND TOTAL: ₹<span style="color: red; font-weight: bold;">{{#getTotalWithGST
                total}}{{/getTotalWithGST}}</span></h6>
            <br>
          </div>
          <div class="row mb-4">
            <div class="col">
              {{#if shopStatus}}
              <a class="btn btn-danger w-100 mb-0" href="/place-order" id="total">₹{{#getTotalWithGST
                total}}{{/getTotalWithGST}} &amp; Pay</a>
              {{else}}
              <button class="btn btn-danger w-100 mb-0" disabled id="total">Shop Closed</button>
              {{/if}}
            </div>
            <div class="col">
              <a class="btn btn-dark w-100" href="/menu">Add More</a>
            </div>
          </div>
        </div> --}}


        <div class="container">
          <div class="card invoice-card shadow mb-4">
            <div class="card-body">

              <!-- Invoice Table-->
              <div class="invoice-table">
                <div class="table-responsive">
                  <table class="table " style="border-color: #ebebeb00;">
                    <thead class="table">
                      <tr>
                        <th>Title</th>
                        <th>Cost</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: black;"><b>Sub Total</b></td>
                        <td id="gross-total" style="color: black;"><b>₹{{total}}</b></td>
                      </tr>
                      <tr>
                        <td style="color: black;">Parcel Charge<font color="red"></font>
                        </td>
                        <td id="parcel-charge" style="color:red;">+ ₹{{#getParcelCharge total}}{{/getParcelCharge}}</td>
                        {{!-- <td id="cgst-total" style="color:red;">+ ₹{{#getTotalWithCGST total}}{{/getTotalWithCGST}}</td> --}}
                      </tr>
                      <tr>
                        <td style="color: black;">GST <font color="red">(5%)</font>
                        </td>
                        <td id="gstAmt" style="color:red;">+ ₹{{#getGstAmt total}}{{/getGstAmt}}</td>
                        {{!-- <td id="sgst-total" style="color:red;">+ ₹{{#getTotalWithSGST total}}{{/getTotalWithSGST}}</td> --}}
                      </tr>
                      
                      <tr>
                        <td style="color: black;">Discount <font color="green">
                            ({{#getDiscountPercentage}}{{/getDiscountPercentage}}%)</font>
                        </td>
                        <td id="discount-total" style="color:green;">- ₹{{#getTotalDiscount total}}{{/getTotalDiscount}}
                        </td>
                      </tr>
              

                    </tbody>
                    <tfoot class="table-light">
                      <tr>
                        <td style="font-weight:bold;">Grand Total:</td>
                        <td style="font-weight: bold; color:red;" id="grand-total">₹{{#getTotalWithGST
                          total}}{{/getTotalWithGST}}</td>
                      </tr>

                    </tfoot>


                  </table>
                  <div class="row">
                    <div class="col">
                      {{#if shopStatus}}
                      <a class="btn btn-danger w-100 mb-0" href="/place-order" id="total">₹{{#getTotalWithGST
                        total}}{{/getTotalWithGST}} &amp; Pay</a>
                      {{else}}
                      <button class="btn btn-danger w-100 mb-0" disabled id="total">Shop Closed</button>
                      {{/if}}
                    </div>
                    <div class="col">
                      <a class="btn btn-dark w-100" href="/menu">Add More</a>
                    </div>
                  </div>
                </div>
              </div>





              {{!-- <div class="card-body border-top">

                <!-- Checkout--><a class="btn btn-danger w-100 mb-0" href="/place-order" id="total">₹{{total}} &amp;
                  Pay</a>
              </div> --}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>








    {{else}}


    <!-- Page Content Wrapper-->
    <div class="page-content-wrapper py-3">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-9 col-md-8 col-lg-6">
            <div class="card">
              <div class="card-body px-5 text-center"><img class="mb-4" src="img/icons/cart.svg" width="200px" alt="">
                <h4> Your cart is empty!</h4>
                <p class="mb-4">Please buy somthing...</p><a class="btn btn-creative btn-danger" href="/home">Go to
                  Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    {{/if}}
    </section>

    <script>
      function changeQuantity(cartId, productId, count) {
        let quantity = parseInt(document.getElementById(productId).innerHTML);
        count = parseInt(count);
        $.ajax({
          url: '/change-product-quantity',
          data: {
            cart: cartId,
            product: productId,
            count: count,
            quantity: quantity
          },
          method: 'post',
          success: (response) => {
            if (response.removeProduct) {
              Swal.fire({
                toast: true,
                icon: 'success',
                title: "Item have been removed",
                animation: true,
                showConfirmButton: false,
                position: 'top-right',
                customClass: 'my',
                timerProgressBar: true,
                showDenyButton: false,
                showCancelButton: false,
                timer: 3000,
                didOpen: (toast) => {
                  toast.addEventListener('mouseenter', Swal.stopTimer)
                  toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
              });
              $('#' + cartId).empty();
              // $("#table").load(" #table");
              $("#gross-total").load(" #gross-total");
              $("#cgst-total").load(" #cgst-total");
              $("#sgst-total").load(" #sgst-total");
              $("#discount-total").load(" #discount-total");
              $("#grand-total").load(" #grand-total");
              $("#total").load(" #total");
              location.reload()

              // let cartCount = $("#cart-count").html();
              // cartCount = parseInt(cartCount) + count;
              // $("#cart-count").html(cartCount);
              // if (cartCount > 1) {
              //   $("#table").load(" #table");
              // $("#gross-total").load(" #gross-total");
              // $("#cgst-total").load(" #cgst-total");
              // $("#sgst-total").load(" #sgst-total");
              // $("#discount-total").load(" #discount-total");
              // $("#grand-total").load(" #grand-total");
              // $("#total").load(" #total");
              // } else {
              //   location.reload()
              // }
            } else {
              document.getElementById(productId).innerHTML = quantity + count;
              let cartCount = $("#cart-count").html();
              cartCount = parseInt(cartCount) + count;
              $("#cart-count").html(cartCount);
              $("#gross-total").load(" #gross-total");
              $("#cgst-total").load(" #cgst-total");
              $("#sgst-total").load(" #sgst-total");
              $("#discount-total").load(" #discount-total");
              $("#grand-total").load(" #grand-total");
              $("#total").load(" #total");
              location.reload()

            }
          }
        })
      }

      function removeCartProduct(cartId, productId, quantity) {
        try {

          $.ajax({
            url: '/remove-cart-product',
            data: {
              cart: cartId,
              product: productId
            },
            method: 'post',
            success: (response) => {
              if (response.status) {
                Swal.fire({
                  toast: true,
                  icon: 'success',
                  title: "Item have been removed",
                  animation: true,
                  showConfirmButton: false,
                  position: 'top-right',
                  customClass: 'my',
                  timerProgressBar: true,
                  showDenyButton: false,
                  showCancelButton: false,
                  timer: 3000,
                  didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                  }
                });
                $('#' + cartId).empty();
                $("#gross-total").load(" #gross-total");
                $("#cgst-total").load(" #cgst-total");
                $("#sgst-total").load(" #sgst-total");
                $("#discount-total").load(" #discount-total");
                $("#grand-total").load(" #grand-total");
                $("#total").load(" #total");
                // $("#table").load(" #table");
                location.reload()
              } else {
                alert("Remove Error")
              }
            }
          })
        } catch (error) {
          console.log(error)
        }
      }
    </script>