<style>
  .owl-carousel .owl-item img {
    display: block;
    width: 50%;
  }

  .my {
    width: 350px;
    max-width: 100%;
    padding-top: 150px;
    font-size: .875rem;
    pointer-events: auto;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    border-radius: 0.25rem;
    background-color: #2ecc4a !important;
    color: #ffffff;
  }

  .textreducer {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
</style>

<br>
<div class="page-content-wrapper ">
  <!-- Hero Slides-->
  <div class="owl-carousel  owl-theme" id="hero-carousel">
    <!-- Single Hero Slide-->

    {{#each banners}}
    <!-- Single Hero Slide-->
    <div class="container">
      <div class="card card-bg-img bg-img bg-overlay"
        style="background-image: url('/images/banner-images/{{this._id}}.png')">
        <div class="card-body p-5 direction-rtl">
          <center>
            <h5 class="text-white font-weight-bold mb-3">{{this.Name}}</h5>
            <a class="btn btn-warning" href="/{{this.Path}}">View More</a>
          </center>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  <!-- Welcome Toast-->
  {{#if signInSucc}}
  <div class="toast toast-autohide custom-toast-1 toast-success home-page-toast" role="alert" aria-live="assertive"
    aria-atomic="true" data-bs-delay="10000" data-bs-autohide="true">
    <div class="toast-body">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-check2-circle"
        viewBox="0 0 16 16">
        <path
          d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
        <path
          d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
      </svg>
      <div class="toast-text ms-3 me-2">
        <p class="mb-1 text-white">{{signInSucc}}</p><small class="d-block"></small>
      </div>
      <button class="btn btn-close btn-close-white position-relative p-1 ms-auto" type="button" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>
  {{/if}}


  <div class="container">
    <div class="container">
      <div class="col-xs-12 col-md-6 col-sm-8 col-lg-12 center-block">
        <br>
        <h5><b>Top Categories</b><span class="pull-right">
            <a href="/menu" type="button" class="btn btn-primary btn-small" name="submit" id="submit">View
              More</a></span></h5>
        <br>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="owl-carousel owl-theme" id="menu-carousel">
      {{#each category}}
      <!-- Single Image Gallery-->
      <a href="/menus?category={{#getEncodedValue this.Name}}{{/getEncodedValue}}">
        <div class="single-image-gallery">
          <div class="card">
            <div class="card-body1 align-items-center">
              <center><img src="/images/category-images/{{this._id}}.png" style="width: 50px; border-radius: 10px;">
                <div class="card-content mt-2">
                  <h6 class="textreducer mb-2">{{this.Name}}</h6>
              </center>
            </div>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </div>



  <div class="container">

    <div class="shop-pagination pb-3 mt-4">
      <div class="card">
        <div class="card-body p-2">
          <div class="d-flex align-items-center justify-content-between"><small class="ms-1">
              <div class="gallery-menu">
                <button class="active btn btn-primary btn-sm" data-filter="*">All</button>
                {{#each maincat}}
                <button class="btn btn-primary btn-sm"
                  data-filter=".{{#getSmallerCase this.Name}}{{/getSmallerCase}}">{{this.Name}}</button>
                {{/each}}
              </div>
            </small>

          </div>
        </div>
      </div>
    </div>

    <!-- Gallery Wrapper-->
    <div class="gallery-wrapper row g-3">


      <div class="top-products-area">
        <div class="container">
          <div class="row g-3">


            {{#each products}}

            <!-- Single Top Product Card-->
            <div class="col-6 col-sm-4 col-lg-3 single-image-gallery {{this.Type}}">
              <div class="card single-product-card">
                <div class="card-body p-3">
                  <!-- Product Thumbnail--><a class="product-thumbnail d-block"
                    href="/single-product/:{{this._id}}"><img src="/images/product-images/{{this._id}}.png" alt="">
                    <!-- Badge--><span class="badge bg-primary">{{this.Type}}</span></a>
                  <!-- Product Title--><a class="product-title d-block text-truncate" href="">{{this.Name}}</a>
                  <!-- Product Price-->
                   
                  <p class="sale-price">₹{{this.Offer}}<span>₹{{this.Price}}</span></p>
                
                  <button class="btn btn-primary btn-sm" onclick="addToCart('{{this._id}}')">
                    Add to Bag
                  </button>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Pagination-->
  {{!-- <div class="shop-pagination pb-3">
    <div class="container">
      <div class="card">
        <div class="card-body p-2">
          <div class="d-flex align-items-center justify-content-between"><small class="ms-1">Showing 6 of 31</small>
            <form action="#">
              <select class="pe-4 form-select form-select-sm" id="defaultSelectSm" name="defaultSelectSm"
                aria-label="Default select example">
                <option value="1" selected>Non-Veg </option>
                <option value="2">Veg</option>
              </select>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> --}}
  <!-- Top Products-->
</div>

<br><br>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"
  integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

  $('#product-carousel').owlCarousel({
    loop: true,

    dots: false,
    margin: 10,
    nav: false,
    responsive: {
      0: {
        items: 2
      },
      600: {
        items: 3
      },
      1000: {
        items: 5
      }
    }
  });
  $('#menu-carousel').owlCarousel({
    loop: true,
    dots: false,
    margin: 10,
    nav: false,
    responsive: {
      0: {
        items: 3
      },
      600: {
        items: 3
      },
      1000: {
        items: 5
      }
    }
  });
  $('#hero-carousel').owlCarousel({
    loop: true,

    dots: false,
    margin: 10,
    nav: false,
    responsive: {
      0: {
        items: 1
      },
      600: {
        items: 1
      },
      1000: {
        items: 1
      }
    }
  });

  function addToCart(productId) {
    $.ajax({
      url: "/add-to-cart/" + productId,
      method: "get",
      success: (response) => {
        if (response.status) {

          Swal.fire({
            toast: true,
            icon: 'success',
            customClass: 'my',
            title: response.message,
            animation: true,
            position: 'top-right',
            showConfirmButton: false,
            timer: 3000,
            iconColor: "#fff",
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })
          let count = $("#cart-count").html();
          count = parseInt(count) + 1;
          $("#cart-count").html(count);
        } else {
          Swal.fire({
            toast: true,
            icon: 'error',
            title: response.message,
            animation: true,
            position: 'top-right',
            showConfirmButton: false,
            timer: 3000,
            iconColor: "#fff",
            timerProgressBar: true,
            didOpen: (toast) => {
              toast.addEventListener('mouseenter', Swal.stopTimer)
              toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
          })
          window.location = "/signin";
        }
      },
    });
  }

</script>