<style>
    .user-info-card .user-profile::after {
    position: absolute;
    content: '\f040';
    font-family: "FontAwesome";
    top: 12px;
    right: 10px;
    font-size: 12px;
    color: #ffffff00;
}
</style>

<div class="page-content-wrapper py-3">
      <div class="container">
        <!-- User Information-->
        <div class="card user-info-card mb-3">
          <div class="card-body d-flex align-items-center">
            <div class="user-profile me-3"><img src="img/icons/man.png" alt="">
             
            </div>
            <div class="user-info">
              <div class="d-flex align-items-center">
                <h5 class="mb-1">{{user.firstName}} {{user.lastName}}</h5><span class="badge bg-secondary ms-2 rounded-pill">Silver</span>
              </div>
              <p class="mb-0">{{user.email}}</p>
            </div>
          </div>
        </div>
        <!-- User Meta Data-->
        <div class="card user-data-card">
          <div class="card-body">
            {{#if user}}
            <form action="#">
              <div class="form-group mb-3">
                <label class="form-label" for="Username">First Name</label>
                <input class="form-control" id="Username" type="text" value="{{user.firstName}}" placeholder="Username">
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="fullname">Last Name</label>
                <input class="form-control" id="fullname" type="text" value="{{user.lastName}}" placeholder="Full Name" readonly>
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="email">Email Address</label>
                <input class="form-control" id="email" type="text" value="{{user.email}}" placeholder="Email Address" readonly>
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="job">Phone</label>
                <input class="form-control" id="job" type="text" value="{{user.phone}}" placeholder="Phone Number" readonly>
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="portfolio">Place</label>
                <input class="form-control" id="portfolio" type="url" value="{{user.place}}" placeholder="Place" readonly>
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="address">Pincode</label>
                <input class="form-control" id="address" type="text" value="{{user.pincode}}" placeholder="Pincode">
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="bio">Address</label>
                <textarea class="form-control" id="bio" name="bio" cols="30" rows="10" value="{{user.address}}" placeholder="Address"></textarea>
              </div>
              {{!-- <button class="btn btn-success w-100" type="submit">Update Now</button> --}}
            </form>
            {{/if}}
          </div>
        </div>
      </div>
    </div>