<style>
    .card-body {
    padding: 0.8rem;
}
.bg-warning {
    background-color: #00000069 !important;
}
.text-dark {
    color: #ffffff !important;
}
</style>
<br /><br /><br />
<div class="container">
  <div class="card mb-4">
    <div class="card-body p-2">
      <div class="chat-search-box">
        <form action="/search-result" method="POST">
          <div class="input-group"><span
              class="input-group-text"
              name="search"
              id="searchbox"
            ><i class="bi bi-search"></i></span>
            <input
              class="form-control form-control-clicked"
              name="search"
              type="search"
              placeholder="Search for itmes..."
              aria-describedby="searchbox"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Top Products-->
<div class="top-products-area" style="margin-bottom: 4.5rem;">
  <div class="container ">
    <div class="row g-3">
      {{#each response}}
        <!-- Single Top Product Card-->
             <div class="col-6 col-sm-4 col-md-3 single-image-gallery {{this.Type}}">
              <div class="card position-relative shadow-sm"><a href="/single-product/:{{this._id}}"><img class="card-img-top" src="/images/product-images/{{this._id}}.png" alt=""></a><span class="badge bg-warning text-dark position-absolute card-badge">{{this.Type}}</span>
                <div class="card-body"> <a class="product-title d-block text-truncate" href="/single-product/:{{this._id}}" style="font-size: 1.125rem;color: #1f0757;margin-top: 0.75rem;font-weight: 500;margin-bottom: 0.25rem;">{{#getTitleCase this.Name}}{{/getTitleCase}}</a>
                <p class="sale-price" style="font-size: 1.25rem;line-height: 1;color: #0134d4;font-weight: 500;">₹{{this.Offer}}<span style="font-size: 1rem;margin-left: 0.25rem;text-decoration: line-through;color: #ea4c62;">₹{{this.Price}}</span></p>
                <button class="btn btn-primary btn-sm" onclick="addToCart('{{this._id}}')">
                    Add to Bag
                  </button></div>
              </div>
            </div>
      {{/each}}
    </div>
  </div>
</div>

<script>
  function addToCart(productId) { $.ajax({ url: "/add-to-cart/" + productId,
  method: "get", success: (response) => { if (response.status) { let count =
  $("#cart-count").html(); count = parseInt(count) + 1;
  $("#cart-count").html(count); } }, }); }
</script>